<ng-include src="'cabecalho/cabecalho.html'"></ng-include>
<ng-form name="frm">
<div class="col-md-12" ng-controller="FrmCtrl">
    <div class="row">
        <table class="table">
            <tr>
                <td>
                    Assunto:
                </td>
                <th>
                    {{cadastro.registro.assunto}}
                </th>
            </tr>
            <tr>
                <td>
                    Local:
                </td>
                <th>
                    {{cadastro.registro.local}}
                </th>
            </tr>
            <tr>
                <td>
                    Início:
                </td>
                <th>
                    {{cadastro.registro.inicio}}
                </th>
            </tr>
            <tr>
                <td>
                    Término:
                </td>
                <th>
                    <input class="form-control" id="termino" name="termino_{{$index}}" ng-model="cadastro.registro.termino" ng-pattern="/^(\d{2})/(\d{2})/(\d{4})\s(\d{2}):(\d{2})$/" ng-required="false" ng-trim="true" placeholder="dd/mm/aaaa hh:mm" type="text">
                    <div class="label label-danger" ng-show="frm['termino_' + $index].$error.required">
                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign">
                        </span>
                        Campo Obrigatório!
                    </div>
                    <div class="label label-danger" ng-show="frm['termino_' + $index].$error.pattern">
                        <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign">
                        </span>
                        Valor inválido!
                    </div>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-warning" ng-click="emitirRelatorio()" ng-disabled="frm.$invalid">
                    Emitir Relatório
                    </button>
                    <button class="btn btn-info" ng-click="voltar()">
                    Voltar
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-7">
            <fieldset>
                <legend>
                    ATA
                </legend>
                <uib-tabset active="active">
                <uib-tab disable="tab.disabled" heading="{{$index + 1}}. {{tab.tema}}" index="$index + 1" ng-repeat="tab in cadastro.registro.pautaList">
                <text-angular ng-model="tab.pauta"/>
                </uib-tab>
                </uib-tabset>
            </fieldset>
        </div>
        <div class="col-md-5">
            <fieldset>
                <legend>
                    Tarefas
                </legend>
                <div class="panel panel-default">
                    <button class="btn btn-success" ng-click="incluir(cadastro.registro.tarefaList, {id: id})" type="button">
                    Novo
                    </button>
                    <button class="btn btn-danger" ng-click="cadastro.registro.tarefaList = []" ng-show="cadastro.registro.tarefaList.length" type="button">
                    Limpar
                    </button>
                    <div class="panel-body" ng-hide="cadastro.registro.tarefaList.length">
                        <div class="alert alert-warning" role="alert" style="margin: 0px;">
                            <span aria-hidden="true" class="glyphicon glyphicon-warning-sign">
                            </span>
                            Nenhum registro localizado!
                        </div>
                    </div>
                    <div class="table-responsive" ng-show="cadastro.registro.tarefaList.length">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        <a ng-click="ordem = 'descricao'">
                                            Descrição
                                        </a><br>
                                        <a ng-click="ordem = 'prazo'">
                                            Prazo
                                        </a><br>
                                        Responsáveis
                                    </th>
                                    <th>
                                        Ação
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in cadastro.registro.tarefaList | orderBy: ['ordem'] track by item.id">
                                    <td>
                                        {{$index + 1}}
                                    </td>
                                    <td>
                                        <textarea cols="80" class="form-control" style="min-width: 260px;" id="descricao" name="descricao_{{$index}}" ng-model="item.descricao" ng-required="true" placeholder="Descrição"></textarea>
                                        <div class="label label-danger" ng-show="frm['descricao_' + $index].$error.required">
                                            <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign">
                                            </span>
                                            Campo Obrigatório
                                        </div>
                                        
                                        <input class="form-control" style="min-width: 260px;" id="prazo" name="prazo_{{$index}}" ng-model="item.prazo" ng-required="true" placeholder="Prazo" type="text">
                                        <div class="label label-danger" ng-show="frm['prazo_' + $index].$error.required">
                                            <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign">
                                            </span>
                                            Campo Obrigatório
                                        </div>
                                        <uib-accordion close-others="true" tooltip-placement="top">
                                        <div uib-accordion-group class="panel-default" heading="({{item.participanteList.length}} resp.)" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                            <div class="well">
                                                <div class="checkbox" ng-repeat="participante in cadastro.registro.participanteList">
                                                    <label for="participante_{{$index}}" uib-tooltip="{{participante.instituicao}}">
                                                        <input id="participante_{{$index}}" name="participante" type="checkbox" checklist-model="item.participanteList" checklist-value="participante.id" tooltip-placement="top">
                                                        {{participante.nome}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        </uib-accordion>
                                        <input type="number" class="sr-only" id="totalParticipante" name="totalParticipante_{{$index}}" ng-min="1" ng-model="item.participanteList.length">
                                        <div class="label label-danger" ng-show="frm['totalParticipante_' + $index].$error.min">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            Quantidade mínima de registros não atingida!
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="excluir(cadastro.registro.tarefaList, item)">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</ng-form>