<div class="col-md-12" ng-controller="RelatorioCtrl" style="background-color: white;">
	<h1><b>{{cadastro.assunto}}</b></h1>
	<h2><b>Ata de Reunião</b></h2>
	<p>Local {{cadastro.local}}, em {{cadastro.inicio}}</p>
	<br>
	<br>
	<br>
	<p><b>Participantes:</b></p>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Instituição</th>
				<th>E-mail</th>
				<th>Telefone</th>
				<th>Assinatura</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in cadastro.participanteList | orderBy: 'nome' track by item.id">
				<td>{{$index + 1}}</td>
				<td>
					{{item.nome}}
				</td>
				<td>
					{{item.instituicao}}
				</td>
				<td>
					{{item.email}}
				</td>
				<td>
					{{item.telefone}}
				</td>
				<td align="center">
					
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<p><b>Discussão:</b></p>
	<ui>
	<li ng-repeat="item in cadastro.pautaList | orderBy: 'ordem'"><h4><u>{{item.tema}}</u></h4>
		<div ng-bind-html="item.pauta"></div>
		<br>
	</li>
	</ui>
	<p><b>Tarefas:</b></p>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Descrição
				</th>
				<th>
					Prazo
				</th>
				<th>
					Responsáveis
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in cadastro.tarefaList | orderBy: ['descricao'] track by item.id">
				<td>
					{{$index + 1}}
				</td>
				<td>
					{{item.descricao}}
				</td>
				<td>
					{{item.prazo}}
				</td>
				<td>
					<ui>
					<li ng-repeat="participante in item.participanteList">
						{{indiceDePorCampo(cadastro.participanteList, "id", participante).nome}}
					</li>
					</ui>
				</td>
			</tr>
		</tbody>
	</table>
	<p><b>Encerramento:</b> {{cadastro.termino}}</p>
</div>