<div class="col-md-12" ng-controller="ReuniaoCtrl">
    <div class="row">
        <dir class="col-md-12">
            <button type="button" class="btn btn-success" ng-click="incluir()">Novo</button>
            <button type="button" class="btn btn-info" ng-show="cadastro.lista.length">Salvar</button>
            <button type="button" class="btn btn-danger" ng-click="limpar()" ng-show="cadastro.lista.length">Limpar</button>
        </dir>
    </div>
    <div class="row" ng-controller="ReuniaoListaCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Histórico de Reuniões</h4></div>
            <div class="panel-body" ng-hide="cadastro.lista.length">
                <div class="alert alert-warning" role="alert" style="margin: 0px;">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Nenhum registro localizado!
                </div>
            </div>
            <div class="table-responsive" ng-show="cadastro.lista.length">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th><a ng-click="ordem = 'assunto'">Assunto</a></th>
                            <th rowspan="2"><a ng-click="ordem = 'inicio'">Início</a></th>
                            <th rowspan="2"><a ng-click="ordem = 'termino'">Término</a></th>
                            <th rowspan="2">Participantes</th>
                            <th rowspan="2">Ações</th>
                        </tr>
                        <tr>
                            <th>Pauta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="item in cadastro.lista | orderBy: ordem track by item.id">
                            <td rowspan="2">{{$index + 1}}</td>
                            <td>
                                <input class="form-control" type="text" ng-model="item.assunto" placeholder="Assunto">
                            </td>
                            <td rowspan="2">
                                <input class="form-control" type="text" ng-model="item.inicio" placeholder="dd/mm/aaaa hh:mm">
                            </td>
                            <td rowspan="2">
                                <input class="form-control" type="text" ng-model="item.termino" placeholder="dd/mm/aaaa hh:mm">
                            </td>
                            <td rowspan="2">
                                <button type="button" class="btn btn-info">...</button>
                            </td>
                            <td rowspan="2">
                                <button type="button" class="btn btn-warning">Editar</button>
                                <button type="button" class="btn btn-danger" ng-click="excluirItem(cadastro.lista, item)">Excluir</button>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" ng-click="incluirPauta(item)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <table class="table table-condensed">
                                    <tr ng-repeat="pauta in item.pautaList | orderBy: 'ordem'">
                                        <td>{{$index + 1}}</td>
                                        <td>
                                            <textarea placeholder="Conteúdo da pauta" class="form-control" ng-model="pauta.conteudo"></textarea>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="excluirItem(item.pautaList, pauta)">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="ordenar(item.pautaList, pauta, '+')" ng-show="!$first">
                                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="ordenar(item.pautaList, pauta, '-')" ng-show="!$last">
                                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
