<ng-include src="'cabecalho/cabecalho.html'"></ng-include>
<div class="col-md-12" ng-controller="ReuniaoListaCtrl">
	<ng-form name="frm">
	<div class="row">
		<dir class="col-md-12">
		<button type="button" class="btn btn-success" ng-click="incluir()">Novo</button>
		<button type="button" class="btn btn-info sr-only" ng-show="cadastro.lista.length" ng-disabled="frm.$invalid">Salvar</button>
		<button type="button" class="btn btn-danger" ng-click="limpar()" ng-show="cadastro.lista.length">Limpar</button>
		</dir>
	</div>
	<div class="row" ng-controller="ReuniaoListaCtrl">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4>Histórico de Reuniões</h4></div>
			<div class="panel-body" ng-hide="cadastro.lista.length">
				<div class="alert alert-warning" role="alert" style="margin: 0px;">
					<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Nenhum registro localizado!
				</div>
			</div>
			<div class="table-responsive" ng-show="cadastro.lista.length">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th rowspan="3">#</th>
							<th><a ng-click="ordem = 'assunto'">Local</a></th>
							<th><a ng-click="ordem = 'assunto'">Assunto da Reunião</a></th>
							<th rowspan="3">Participantes</th>
							<th rowspan="3">Ações</th>
						</tr>
						<tr>
							<th><a ng-click="ordem = 'inicio'">Início</a></th>
							<th rowspan="2">Pauta</th>
						</tr>
						<tr>
							<th><a ng-click="ordem = 'termino'">Término</a></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="item in cadastro.lista | orderBy: ordem track by item.id">
							<td rowspan="2">{{$index + 1}}</td>
							<td rowspan="2">
								<input class="form-control" type="text" ng-model="item.local" placeholder="Local de realização da reunião" id="local" name="local_{{$index}}" ng-required="true" ng-trim="true">
								<div class="label label-danger" ng-show="frm['local_' + $index].$error.required">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									Campo Obrigatório!
								</div>
								<input class="form-control" type="text" ng-model="item.inicio" placeholder="Início dd/mm/aaaa hh:mm" id="inicio" name="inicio_{{$index}}" ng-required="true" ng-pattern="/^(\d{2})/(\d{2})/(\d{4})\s(\d{2}):(\d{2})$/" ng-trim="true">
								<div class="label label-danger" ng-show="frm['inicio_' + $index].$error.required">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									Campo Obrigatório!
								</div>
								<div class="label label-danger" ng-show="frm['inicio_' + $index].$error.pattern">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									Valor inválido!
								</div>
								<input class="form-control" type="text" ng-model="item.termino" placeholder="Término dd/mm/aaaa hh:mm" id="termino" name="termino_{{$index}}" ng-required="false" ng-pattern="/^(\d{2})/(\d{2})/(\d{4})\s(\d{2}):(\d{2})$/" ng-trim="true">
								<div class="label label-danger" ng-show="frm['termino_' + $index].$error.required">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									Campo Obrigatório!
								</div>
								<div class="label label-danger" ng-show="frm['termino_' + $index].$error.pattern">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									Valor inválido!
								</div>
							</td>
							<td>
								<input class="form-control" type="text" ng-model="item.assunto" placeholder="Assunto da Reunião" id="assunto" name="assunto_{{$index}}" ng-required="true" ng-trim="true">
								<div class="label label-danger" ng-show="frm['assunto_' + $index].$error.required">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									Campo Obrigatório!
								</div>
							</td>
							<td rowspan="2">
								<button type="button" class="btn btn-info" ng-click="incluirParticipante(item.participanteList)">...</button>
								<div class="well">
									<ol>
										<li ng-repeat="part in item.participanteList | orderBy: 'nome' track by part.id">{{part.nome}}, {{part.instituicao}}</li>
									</ol>
									<input type="number" class="sr-only" id="totalParticipante" name="totalParticipante_{{$index}}" ng-min="2" ng-model="item.participanteList.length">
									<div class="label label-danger" ng-show="frm['totalParticipante_' + $index].$error.min">
										<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
										Quantidade mínima de registros não atingida!
									</div>
								</div>
							</td>
							<td rowspan="2">
								<button type="button" class="btn btn-warning" ng-click="editar(item)" ng-disabled="frm.$invalid">Editar</button>
								<button type="button" class="btn btn-danger" ng-click="excluirItem(cadastro.lista, item)">Excluir</button>
							</td>
						</tr>
						<tr ng-repeat-end>
							<td>
								<button type="button" class="btn btn-success btn-xs" ng-click="incluirPauta(item)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button> Pauta
								<table class="table table-condensed">
									<tr ng-repeat="pauta in item.pautaList | orderBy: 'ordem'">
										<td>{{$index + 1}}</td>
										<td>
											<textarea placeholder="Tema da pauta" class="form-control" ng-model="pauta.tema" ng-required="true" id="temaPauta_{{$parent.$index}}_{{$index}}" name="temaPauta_{{$parent.$index}}_{{$index}}"></textarea>
											<div class="label label-danger" ng-show="frm['temaPauta_' + {{$parent.$index}} + '_' + {{$index}}].$error.required">
												<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
												Campo Obrigatório!
											</div>
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-xs" ng-click="excluirItem(item.pautaList, pauta)">
											<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
											</button>
											<button type="button" class="btn btn-warning btn-xs" ng-click="ordenar(item.pautaList, pauta, '+')" ng-show="!$first">
											<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
											</button>
											<button type="button" class="btn btn-warning btn-xs" ng-click="ordenar(item.pautaList, pauta, '-')" ng-show="!$last">
											<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
											</button>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</ng-form>
</div>